:root {
    color-scheme: light dark;
}

body {
    /* font-family: 'IBM Plex Sans JP', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'Arial', sans-serif; */
    /* font-family: 'IBM Plex Sans JP'; */
    /* font-family: 'Hiragino Kaku Gothic ProN'; */
    /* font-family: 'Meiryo'; */
    /* font-family: sans-serif; */
    line-height: 1em;
    margin: 0;
    padding: 0;
    background-color: light-dark(#f0f0f0, #202020);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


header {
    background: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    max-width: 1200px;
    margin: 0 auto 40px auto;
}

header p {
    font-size: 0.5em;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 3;
    padding: 0;

}

article {
    background-color: white;
    padding: 20px;
    margin: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0d0d0;
}

article h2 {
    margin-bottom: 0;
    font-size: 2em;
}

article h2 a {
    color: #303030;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

article p.article-datetime {
    margin-top: 0.75em;
    margin-bottom: 1.5em;
    padding-bottom: 0.75em;
    font-size: 1em;
    border-bottom: 1px solid;
    border-block-end-color: #e0e0e0;
}

article p {
    color: #202020;
    line-height: 1.8em;
    font-size: 1em;
}

article p a {
    margin-left: 0.25em;
    margin-right: 0.25em;
    text-underline-offset: 0.2em;
    color: #202020;
}

article p a:visited {
    color: #b0b0b0;
}

article p a:hover {
    color: red;
}

article p.continue span {
    padding: 0.5em;
    font-size: 0.8em;
    border-style: solid;
    border-width: 1px;
    border-color: #d0d0d0;
}

article p.continue a {
    color: #808080;
    text-decoration: none;
}

aside {
    flex: 1;
    order: 2;
    margin: 10px;
    background: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

aside div {
    margin-bottom: 3em;
}

aside h2.color-switch {
    font-weight: normal;
    font-size: 1em;
}

aside a {
    color: #303030;
    text-decoration: none;
}

aside ol {
    margin-left: -1em;
}

aside li {
    word-break: break-all;
    line-height: 1.25em;
    margin-bottom: 0.5em;
}

aside li span.posted-date {
    font-size: 0.75em;
}

aside a:visited {
    color: #a0a0a0;
    text-decoration: none;
}

footer {
    background: #343a40;
    color: #ffffff;
    line-height: 2em;
    text-align: center;
    padding: 15px;
    margin: 40px auto 0 auto;
    max-width: 1200px;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .articles {
        flex-direction: column;
    }

    article {
        width: auto;
        margin: 10px;
    }

    aside {
        margin: 10px 0;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #202020;
        color: #e0e0e0;
    }

    article {
        background-color: #202020;
        border-color: #a0a0a0;
    }

    article h2 {
        color: #f0f0f0;
    }
    article h2 a {
        color: #f0f0f0;
    }

    article p {
        color: #d0d0d0;
    }

    article p a {
        color: #d0d0d0;
    }

    article p a:visited {
        color: #707070;
    }

    article p a:hover {
        color: red;
    }

    article p.post-date {
        color: #e0e0e0;
        border-block-end-color: #505050;
    }

    article p.continue span {
        border-color: #606060;
    }

    article p.continue a {
        color: #a0a0a0;
    }

    aside h2 {
        color: #e0e0e0;
    }

    aside a {
        color: #e0e0e0;
    }

    aside a:visited {
        color: #808080;
    }

    aside a:hover {
        text-decoration: underline;
    }
}
