:root {
    color-scheme: light dark;
    --header-footer-text-color: #ffffff;
    --header-footer-background-color: #303030;
    --link-hover-color: #ff0000;

    --normal-text-color: #202020;
    --normal-background-color: #e0e0e0;

    --article-card-background-color: #f8f8f8;

    --link-visited-color: #a0a0a0;

    --date-article-separator-color: #e0e0e0;
    --read-more-border-color: #909090;

    --blockquote-left-border-color: #b0b0b0;
    --blockquote-background-color: #f0f0f0;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --normal-text-color: #e0e0e0;
        --normal-background-color: #202020;
    
        --article-card-background-color: #303030;
    
        --link-visited-color: #909090;
    
        --date-article-separator-color: #505050;
        --read-more-border-color: #909090;

        --blockquote-left-border-color: #808080;
        --blockquote-background-color: #383838;

        --navigation-icon-color: #e0e0e0;
    }
} */


body {
    font-family: 'IBM Plex Sans JP', sans-serif;
    line-height: 1.8em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--normal-text-color);
    background-color: var(--normal-background-color);
}


/*** link colors ***/
a {
    color: var(--normal-text-color);
    text-underline-offset: 0.2em;
}

a:visited {
    color: var(--link-visited-color);
}

a:hover {
    color: var(--link-hover-color);
}

aside a {
    text-decoration: none;
}

header {
    color: var(--header-footer-text-color);
    background: var(--header-footer-background-color);
    text-align: center;
    padding: 2em 0 2em 0;
    margin: 0 auto 2em auto;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 0.75em;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 3;
    padding: 0;

}


/*** article ***/
article {
    background-color: var(--article-card-background-color);
    padding: 20px;
    margin: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0d0d0;
}

article h2 {
    font-size: 1.8em;
    font-weight: normal;
}

article h2 a {
    text-decoration: none;
}

article h2 a:visited {
    color: var(--normal-text-color);
}

article h2 a:hover {
    color: var(--link-hover-color);
}

article p a {
    margin: auto 0.15em auto 0.15em;
}

article p.article-datetime {
    margin-top: -1em;
    margin-bottom: 1.5em;
    padding-bottom: 0.75em;
    border-bottom: 1px solid;
    border-block-end-color: var(--date-article-separator-color);
}

article p.read-more {
    margin-top: 2em;
}

article p.read-more span {
    padding: 0.5em;
    font-size: 0.8em;
    border: solid 1px var(--read-more-border-color);
}

article p.read-more a {
    color: var(--normal-text-color);
    text-decoration: none;
}

article blockquote {
    margin: auto 1.5em auto 1.5em;
    padding: 0.2em 1em 0.2em 1em;
    border-left: 3px solid var(--blockquote-left-border-color);
    background-color: var(--blockquote-background-color);
    font-style: italic;
}


/*** side menu ***/
aside {
    flex: 1;
    order: 2;
    margin-left: 1em;
    background: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

aside h2 {
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: -0.5em;
}

aside h2.color-switch {
    font-weight: normal;
    font-size: 1em;
}

aside ol {
    margin-left: -1em;
    word-break: break-all;
    font-size: 0.9em;
    line-height: 1.5em;
}

aside li {
    margin-bottom: 0.5em;
}

aside li span.posted-date {
    font-size: 0.85em;
}

aside li a {
    text-decoration: none;
}


/*** footer ***/
footer {
    background: var(--header-footer-background-color);
    color: var(--header-footer-text-color);
    line-height: 2em;
    font-size: 0.8em;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 1em;
    margin-top: 4em;
    width: 100%;
    min-width: 100%;
}

/*** I wish you use IPv6! ***/
footer div.ip-version-banner img {
    height: 24px;
}

footer ol.other-site-navigation {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 1.5em 0 1.5em 0;
}

footer ol.other-site-navigation li {
    display: inline;
    margin-left: 0.8em;
    margin-right: 0.8em;
}

footer ol.other-site-navigation img {
    width: 24px;
    height: 24px;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .articles {
        flex-direction: column;
    }

    article {
        width: auto;
        margin: 10px;
    }

    aside {
        margin: 10px 0;
    }
}
