:root {
    color-scheme: light dark;
    --header-footer-text-color: #ffffff;
    --header-footer-background-color: #303030;

    --normal-text-color: #202020;
    --normal-background-color: #f8f8f8;

    --link-unvisited-color: #3f9fdf;
    --link-visited-color: #a0a0a0;
    --link-hover-color: #ff0000;

    --read-more-border-color: #909090;
    --article-separator-color: #a0a0a0;

    --blockquote-left-border-color: #000000;
    --blockquote-background-color: #ffffff;

    --theme-selector-color: #202020;
    --sidebar-section-border-color: #a0a0a0;

    --navigation-icon-color: #e0e0e0;
}
[data-theme="dark"] {
    color-scheme: light dark;
    --header-footer-text-color: #ffffff;
    --header-footer-background-color: #303030;
    --link-hover-color: #3f9fdf;

    --normal-text-color: #e0e0e0;
    --normal-background-color: #202020;

    --link-visited-color: #909090;

    --read-more-border-color: #909090;

    --blockquote-left-border-color: #ffffff;
    --blockquote-background-color: #383838;

    --theme-selector-color: #f0f0f0;
    --sidebar-section-border-color: #606060;

    --navigation-icon-color: #e0e0e0;
}


body {
    line-height: 1.8em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--normal-text-color);
    background-color: var(--normal-background-color);
}


/*** link colors ***/
a {
    color: var(--link-unvisited-color);
    text-underline-offset: 0.2em;
}

a:visited {
    color: var(--link-visited-color);
}

a:hover {
    color: var(--link-hover-color);
}

aside a {
    text-decoration: none;
}


/***** header *****/
header {
    color: var(--header-footer-text-color);
    background: var(--header-footer-background-color);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1em 0em 1em 0em;
}

header h1 {
    font-size: 1.75em;
}

header p {
    font-size: 0.75em;
}


/***** main *****/
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
}


/***** index page body *****/
div.article-list {
    padding: 4em 0em 3em 0em;
}

div.article-list article {
    margin: 0em 0em 3em 0em;
    padding-bottom: 1em;
    border-bottom: 1px var(--article-separator-color) solid;
}

div.article-list h2 {
    margin-top: -0.2em;
    font-size: 1.5em;
    line-height: 1.5em;
}

div.article-list h2 a {
    color: var(--normal-text-color);
    text-decoration: none;
}

div.article-list h2 a:visited {
    color: var(--normal-text-color);
}

div.article-list h2 a:hover {
    color: var(--link-unvisited-color);
}

div.article-list p.article-datetime {
    padding-bottom: 0em;
    line-height: 0;
}

div.article-list p.link-old-article-list {
    text-align: center;
    line-height: 0;
}



/***** individual article body *****/
article.full-text {
    padding: 3em 0em 2em 0em;
}

article.full-text h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}

article.full-text p.article-datetime {
    line-height: 0;
    text-align: right;
    padding-bottom: 2em;
}



/***** article common *****/
article p a {
    margin: auto 0.15em auto 0.15em;
}

article p.read-more {
    text-align: right;
}

article p.read-more span {
    padding: 0.5em;
    font-size: 0.8em;
    border: solid 1px var(--read-more-border-color);
}

article p.read-more a {
    color: var(--normal-text-color);
    text-decoration: none;
}

article blockquote {
    margin: auto 1.5em auto 1em;
    padding: 0.2em 1em 0.2em 1em;
    border-left: 2px solid var(--blockquote-left-border-color);
    background-color: var(--blockquote-background-color);
    font-style: italic;
}


/***** sidebar *****/
/* aside {
    flex: 1;
    order: 2;
    margin-left: 1em;
    background: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
} */

aside h2 {
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: -0.5em;
}

aside section {
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--sidebar-section-border-color);
}

/*** theme selector ***/
aside section.theme h2 {
    /* this section's header is for blind users, so it is not visible */
    visibility: hidden;
    line-height: 1em;
}

aside section.theme .theme-selector {
    display: flex;
    gap: 1em;
    align-items: center;
}

aside section.theme .theme-icon {
    width: 1.25em;
    height: 1.25em;
    cursor: pointer;
    color: var(--theme-selector-color);
    transition: color .3s;
}

aside section.theme .theme-icon:hover {
    opacity: 1;
    transform: scale(1.1);
}

aside section.theme .theme-icon.selected {
    outline: 2px solid var(--theme-selector-color);
    opacity: 1;
}


/*** article list ***/
aside ul.previous-article-list {
    font-size: 0.9em;
    word-break: break-all;
    line-height: 1.5em;
    list-style-type: circle;
}

aside li {
    margin-left: -1.5em;
    margin-bottom: 0.5em;
    line-height: 1.2em;
}

aside li a {
    text-decoration: none;
}


/*** footer ***/
footer {
    background: var(--header-footer-background-color);
    color: var(--header-footer-text-color);
    line-height: 2em;
    font-size: 0.8em;
    text-align: center;
    padding: 4em 0em 2em 0em;
    margin-top: 4em;
    width: 100%;
}

/*** I wish you use IPv6! ***/
footer div.ip-version-banner img {
    height: 24px;
}

footer ul.other-site-navigation {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 1.5em 0 1.5em 0;
}

footer ul.other-site-navigation li {
    display: inline;
    margin-left: 0.8em;
    margin-right: 0.8em;
}

footer ul.other-site-navigation img {
    width: 24px;
    height: 24px;
}

footer p {
    line-height: 1.5em;
}


#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    opacity: 0.6;
    display: none;
    z-index: 9999;
    transition: opacity 0.3s;
}





@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .article-list {
        flex-direction: column;
    }

    article {
        width: auto;
        margin: 10px;
    }

    aside {
        margin: 10px 0;
    }
}

@media print {
    header {
        padding: 2em 0 0em 0;
        margin: 0 auto 0em auto;
    }
    header h2 {
        font-size: 1.2em;
    }
    main {
        margin-left: 0em;
        margin-right: 0em;
        padding: 0em;
    }
    aside {
        display: none;
    }
    /* footer div.ip-version-banner {
        display: none;
    } */
    footer ul.other-site-navigation {
        display: none;
    }
    footer {
        padding-top: 2em;
        margin-top: 0em;
    }
}
