<div class="ip-version-banner"><img src="image/connected/via.webp" alt="Connected IP version"></div>
<ol class="other-site-navigation">
    <li><a href="{{ blog.email }}"><img src="image/icon/mail-icon.svg" alt="Icon for E-mail"></a></li>
    <li><a href="https://github.com/keioni"><img src="image/icon/github-mark-white.svg" alt="Icon for my GitHub link"></a></li>
    <li><a href="https://zenn.dev/keioni"><img src="image/icon/zenn-logo-only.svg" alt="Icon for my Zenn link"></a></li>
    <li><a href="https://bsky.app/profile/nekofirst.life"><img src="image/icon/bluesky-icon.svg" alt="Icon for my Bluesky link"></a></li>
</ol>
<p><span id="copyright">&copy; Kei Onimaru</span><br>
    この文書の内容は所属する組織とは関係ありません。文責はすべて筆者にあります。</p>
<p>この文書は<a href="https://creativecommons.org/licenses/by/4.0/">クリエイティブコモンズ CC BY 4.0</a>ライセンスの下で提供されています。<br>
　このページのURLを表示することで、商業利用を含め、自由に利用・改変できます。</p>
