<!DOCTYPE html>
<html lang="ja">

<head>
    {% import 'template/_head.j2' %}
</head>

<body>
    <header>
        {% import 'template/_header.j2' %}
    </header>

    <nav>
        {% import 'template/_nav.j2' %}
    </nav>

    <main>
        <article class="full-text">
            <h2>{{ article.title }}</h2>
            <p class="article-datetime">{{ article.date }}</p>
            {{ article }}
        </article>
    </main>

    <footer>
        {% import 'template/_footer.j2' %}
    </footer>
</body>

</html>
