<!DOCTYPE html>
<html lang="ja">

<head>
    {% import 'template/_head.j2' %}
</head>

<body>
    <header>
        {% import 'template/_header.j2' %}
    </header>

    <nav>
        {% import 'template/_nav.j2' %}
    </nav>

    <main>
        <div class="article-list">
            {% for article in articles %}
            <article>
                <p class="article-datetime">{{ article.date }}</p>
                <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                {{ article }}
                {{ article.if_continue }}
            </article>
            {% endfor %}
        </div>
    </main>

    <footer>
        {% import 'template/_footer.j2' %}
    </footer>
</body>

</html>
