<section class="theme">
    <h2>テーマカラー</h2>
    <div class="theme-selector">
        {% import '_svg_color_system.j2' %}
        {% import '_svg_color_light.j2' %}
        {% import '_svg_color_dark.j2' %}
    </div>
</section>
<section>
    <h2>書いた人</h2>
    <p>へんなひと</p>
</section>
<section>
    <h2>最近の記事</h2>
    <ol class="recent-articles">
    {% for article in recent_articles %}
        <li><a href="/{{ article.path }}">{{ article.title }}</a><span class="list-post-date">{{ article.date }}</span><br>{{ article.title }}</li>
    {% endfor %}
    </ol>
</section>
