<div class="article-card">
    <div class="card-image">
        <img src="{{ image }}">
    </div>
    <div class="card-content">
        <h3>{{ title }}</h3>
        <p>{{ content }}</p>
    </div>
    <div class="card-footer">
        <p>
            <img src="{{ website_logo }}" alt="{{ website_name }}"> <span>{{ website_name }}</span>
        </p>
    </div>
</div>
