<div class="ip-version-banner"><img src="img/connected/via.webp" alt="Connected IP version"></div>
<ul class="navigation-list">
    <li><a href="mailto:nemui@keioni.com"><img src="img/icon/mail-icon.svg" alt="Icon for E-mail"></a></li>
    <li><a href="https://github.com/keioni"><img src="img/icon/github-mark-white.svg" alt="Icon for my GitHub link"></a></li>
    <li><a href="https://zenn.dev/keioni"><img src="img/icon/zenn-logo-only.svg" alt="Icon for my Zenn link"></a></li>
    <li><a href="https://bsky.app/profile/nekofirst.life"><img src="img/icon/bluesky-icon.svg" alt="Icon for my Bluesky link"></a></li>
</ul>
<p><span id="copyright">&copy; Kei Onimaru</span><br>
    この文書の内容は所属する組織とは関係ありません。文責はすべて筆者にあります。</p>
<p>この文書はクリエイティブコモンズ CC BY 4.0 ライセンスの下で提供されています。</p>
