<p><img src="/img/connected/via.webp" height="24" width="144" id="ipaddr-type-image" alt="IP address check image"></p>
<p id="icon-list">
    <a href="mailto:contact@keioni.com"><img src="/img/icon/envelope-icon.svg" alt="Icon for E-mail"></a>
    <a href="https://github.com/keioni"><img src="/img/icon/github-icon.svg" alt="Icon for my GitHub link"></a>
    <a href="https://zenn.dev/keioni"><img src="/img/icon/zenn-icon.svg" alt="Icon for my Zenn link"></a>
    <a href="https://bsky.app/profile/nekofirst.life"><img src="/img/icon/bluesky-icon.svg" alt="Icon for my Bluesky link"></a>
</p>
<p><span id="copyright">&copy; Kei Onimaru</span><br>
    文責はすべて筆者にあります。この文書の内容は、所属する組織とは関係ありません。 </p>
