<!DOCTYPE html>
<html lang="ja">

<head>
    {% import 'text/template/_head.j2' %}
</head>

<body>
    <div class="container">
        <header>
            {% import 'text/template/_header.j2' %}
        </header>

        <main>
            <section>
                <article class="article">
                    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                    {{ article }}
                </article>
            </section>

            <aside>
                {% import 'text/template/_aside.j2' %}
            </aside>
        </main>

        <footer>
            {% import 'text/template/_footer.j2' %}
        </footer>
    </div>
</body>

</html>
