<!DOCTYPE html>
<html lang="ja">

<head>
    {% include 'text/template/_head.j2' %}
</head>

<body>
    <header>
        <h1><a href="/">{{ blog_name }}</a></h1>
        <p><a href="/">{{ blog_description }}</a></p>
    </header>

    <main>
        <article>
            <h2>{{ article_title }}</h2>
            {{ article }}
        </article>
    </main>

    <aside>
        {% include 'text/template/_aside.j2' %}
    </aside>

    <footer>
        {% include 'text/template/_footer.j2' %}
    </footer>

</body>
</html>
