<!DOCTYPE html>
<html lang="ja">

<head>
    {% import 'text/template/_head.j2' %}
</head>

<body>
    <div class="container">
        <header>
            {% import 'text/template/_header.j2' %}
        </header>

        <main>
            <section class="articles">
                {% for article in articles %}
                <article>
                    <section>
                        <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                        <p class="post-date">{{ article.date }}</p>
                        {{ article }}
                        {{ article.if_continue }}
                    </section>
                </article>
                {% endfor %}
            </section>

            <aside>
                {% import 'text/template/_aside.j2' %}
            </aside>
        </main>

        <footer>
            {% import 'text/template/_footer.j2' %}
        </footer>
    </div>
</body>

</html>
