<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" content="{{ blog_name }}">
    <meta property="og:title" content="{{ blog_name }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ blog_index_url }}">
    <meta property="og:description" content="{{ blog_description }}">
    <meta property="og:image" content="{{ blog_image }}">
    <meta property="og:article:author" content="Kei Onimaru">
    <meta property="og:article:publish_time" content="{{ publish_datetime }}">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="canonical" href="{{ blog_index_url }}">
    <link rel="preload" href="/img/connected/via.png" as="image">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
    <title>{{ blog_name }}</title>
</head>

<body>
    <header>
        <h1><a href="/">{{ blog_name }}</a></h1>
        <p><a href="/">{{ blog_description }}</a></p>
    </header>

    <main>
    </main>

    <footer>
        {{ footer }}
    </footer>

</body>
</html>
